extends layout

block mainContent
	li.listRow= 'Application for Scanning BLE'
		a(href='app://application', class='button small edit') Enter
	li.listRow= 'Web App for Managing Access Control'
		a(href='/index', class='button small edit') Enter