extends layout

block mainContent
	p
		if(thingname)
			a#back(href='/thing/#{thingname}', class="button small pink") &laquo;  Back to service list
		else
			a#back(href='/index', class="button small pink") &laquo;  Back to index

	if error
		p.error Something went terribly bad: #{error}
		
	h2 Showing Views for this service: 
	h2#servicename #{servicename}
	#container(style='min-width: 310px; height: 400px; margin: 0 auto')
	div.formFooter
		input#observe_on(type="submit", name='observe_on', value="Observe on")     
		input#observe_off(type="submit", name='observe_off', value="Observe off")
		
	script(src='/chart/', type='text/javascript')